@model DAL.Models.Employees
@{
    ViewBag.Title = "CreateEmployee";
}

<h2>Create Employee</h2>

<form asp-controller="Employee" asp-action="CreateEmployee" method="post" enctype="multipart/form-data">
    @ViewBag.Message
    <div asp-validation-summary="All"></div>
    

    <div class="form-group">
        <label>Name</label>
        <input type="text" asp-for="Name" class="form-control"/>
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label>IdNumber</label>
        <input type="text" asp-for="IdNumber" class="form-control"/>
        <span class="text-danger" asp-validation-for="IdNumber"></span>
    </div>

    <div class="form-group">
        <label>Photo</label>
        <input type="file" asp-for="Photo" class="form-control"/>
        <span class="text-danger" asp-validation-for="Photo"></span>
    </div>

    <div class="form-group">
        <label>JobTitle</label>
        <input type="text" asp-for="JobTitle" class="form-control"/>
        <span class="text-danger" asp-validation-for="JobTitle"></span>
    </div>


    <div class="form-group">
        <label>Mail</label>
        <input type="email" asp-for="Mail" class="form-control"/>
        <span class="text-danger" asp-validation-for="Mail"></span>
    </div>

    <div class="form-group">
        <label>Telephone</label>
        <input type="tel" asp-for="Tel" class="form-control"/>
        <span class="text-danger" asp-validation-for="Tel"></span>
    </div>

    <div class="form-group">
        <label>IdJob</label>
        <input type="text" asp-for="IdJob" class="form-control"/>
        <span class="text-danger" asp-validation-for="IdJob"></span>
    </div>

     <div class="form-group">
        <label>Gender</label>
        <div>
            <input type="radio" asp-for="Gender" value="male" class="" radio-inline"" checked/> male
            <input type="radio" asp-for="Gender" value="female" class="" radio-inline""/> female
        </div>
        <span class="text-danger" asp-validation-for="Gender"></span>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>