@model List<DAL.Models.Employees>
@{
    ViewBag.Title = "ShowEmployeeDay";
}

<h2>Show Employee Day</h2>


<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>day</th>

            @foreach (var item in Model)
            {
                <th class="text-center">@item.Name</th>
            }
        </tr>
    </thead>
  
    <tbody>
        @for (int i = 1; i <= 30; i++)
        {
            var attendanceDate = new DateTime(DateTime.Now.Year, 5, i, 00, 00, 00);
            var leaveDate = new DateTime(DateTime.Now.Year, 5, i, 23, 59, 59);

            <tr>
                <td>@i</td>

                @foreach (var item in Model)
                {
                    var dayAttendance = item.Attendances.Where(e => e.TimeAttendance >= attendanceDate 
                                                                 && e.TimeLeave <= leaveDate).FirstOrDefault();

                    <td class="text-center">
                        @if (dayAttendance != null)
                        {
                            <div class="text-success">
                                @dayAttendance?.TimeAttendance.ToString("hh:mm:ss tt")
                            </div>

                            <div class="text-danger">
                                @dayAttendance?.TimeLeave.ToString("hh:mm:ss tt")
                            </div>
                        }
                        else 
                        {
                            <div class="text-dagner text-muted">
                                لا توجد بصمة
                            </div>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

