@model DAL.Models.Shift
@{
    ViewBag.Title = "CreateShift";
}

<h2>Create Shift</h2>

<form asp-controller="Shift" asp-action="AddShift" method="post">
    @ViewBag.Message
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label>Name</label>
        <input type="text" asp-for="ShiftName" class="form-control" />
        <span class="text-danger" asp-validation-for="ShiftName"></span>
    </div>

   
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>